@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        padding: 238px 0;
        width: auto;
        display: flex;
        justify-content: center;
    }
    .start {
        margin-right: 0;
    }
    .title {
        width: 343px;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        padding: 0;
    }
    .subtitle {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        width: 343px;
        padding-left: 13px;
    }
    .go {
        margin-left: 64px;
    }
    .menu {
        background: #000915;
    }
    .menu__game {
        flex-direction: column;
    }
    .game_1 {
        margin-top: 100px;
    }
    .game_2 {
        margin-top: 0;
    }
    .game_3 {
        margin-top: 0;
    }
    .text__game {
        width: auto;
    }
    .game {
        width: auto;
        display: flex ;
        flex-direction: column;
        align-items: center;
    }
    .blok_game {
        padding-top: 50px;
        padding-bottom: 64px;
    }
    .title_2 {
        width: 343px;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .subtitle_2 {
        width: 343px;
        height: 66px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .gameFoto {
        padding: 0;
        padding-bottom: 85px;
    }
    .foto {
        width: 343px;
        height: 236px;
    }
    .game0_2 {
        width: auto;
        display: flex ;
        flex-direction: column-reverse;
        align-items: center;
    }
    .blok_game0_2 {
        padding-top: 50px;
        padding-bottom: 64px;
        padding-left: 0;
    }
    .title_2_0_2 {
        width: 264px;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        padding-left: 39px;
    }
    .subtitle_2_0_2 {
        width: 343px;
        height: 66px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .gameFoto0_2 {
        padding: 0;
        padding-bottom: 85px;
    }
    .foto0_2 {
        width: 343px;
        height: 231px;
    }
}
