* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.top {
    background: url(imghw/Star_1.svg) no-repeat right top,
                url(imghw/Star_2.svg) no-repeat 63px 94px,
                url(imghw/Star_3.svg) no-repeat 156px 69px,
                url(imghw/Star_4.svg) no-repeat 1013px 568px, 
                url(imghw/Star_5.svg) no-repeat 948px 538px;
    padding-top: 196px;
    padding-bottom: 156px;
    background-color: #E1FF8F;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.title {
    display: flex;
    width: 769px;
    height: 156px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #202027;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitle {
    width: 720px;
    color: #202027;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 48px;
}
.go {
    width: 247px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #202027;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    border: 1px solid #000915 ; 
}
.go:hover {
    background:#FFFFFF;
    color:#202027;
}
.ribbon {
    background: url(imghw/ribbon.svg) no-repeat center;
    height: 80px;
    background-color: #BCEC30;
}
.menu {
    background: url(imghw/Star_6.svg) no-repeat right 77px,
                url(imghw/Star_7.svg) no-repeat 25px 770px,
                url(imghw/Star_8.svg) no-repeat 40px 822px;
    background-color: #202027;
    padding-top: 94px;
    padding-bottom: 50px;
}
.menu_description {
    padding-bottom: 40px;
}
.title_description {
    width: 314px;
    height: 78px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    color: #FFFFFF;
}
.subtitle_description {
    width: 750px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 72px;
}
.bloc_game {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.menu__game {
    display: flex;
    padding-top: 32px;
}
.game1 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game1.png);
    background-repeat: no-repeat;
}
.game2 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game2.png);
    background-repeat: no-repeat;
}
.game3 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game3.png);
    background-repeat: no-repeat;
}
.game4 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game4.png);
    background-repeat: no-repeat;
}
.game5 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game5.png);
    background-repeat: no-repeat;
}
.game6 {
    width: 378px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game6.png);
    background-repeat: no-repeat;
}
.title_game1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color:#202027;
    margin-top: 16px;
    margin-bottom: 36px;
    margin-left: 32px;
    margin-right: 40px;
}
.numGame {
    width: 80px;
    height: 13px;
    padding: 8px 16px 10px 16px;
    border-radius: 52px;
    background: #F7F7F7;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    margin-top: 346px;
    margin-left: 32px;
}
.menu2 {
    background: url(imghw/Star_9.svg) no-repeat 1277px 93px,
                url(imghw/Star_10.svg) no-repeat 1320px 126px,
                url(imghw/Star_11.svg) no-repeat 1319px 3366px,
                url(imghw/Star_12.svg) no-repeat 1249px 3414px;
    background-color: #202027;
    padding-top: 46px;
    padding-bottom: 144px;
}
.title_description2 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.blocGame2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 32px;
}
.nameGame {
    width: 455px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    line-height: 58px;
    color: #202027;
    padding-top: 48px;
    padding-left: 48px;
}
.descriptionGame {
    width: 420px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    color: #202027;
    padding-top: 24px;
    padding-left: 48px;
}
.go2 {
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background: #202027;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    color: #FFF;
    margin-left: 48px;
    margin-top: 36px;
}
.go2:hover {
    background:#FFFFFF;
    color:#202027;
}
.left {
    padding-left: 600px;
}
.game1_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game1_2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.game2_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game2_2.png);
    background-repeat: no-repeat;
}
.game3_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game3_2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.game4_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game4_2.png);
    background-repeat: no-repeat;
}
.game5_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game5_2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.game6_2 {
    height: 500px;
    border-radius: 30px;
    background-color: #FFFFFF;
    background-image: url(imghw/game6_2.png);
    background-repeat: no-repeat;
}
.basement {
    height: 150px;
    background: #BDED35;
}
.rights {
    height: 15px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    padding-top: 60px;
}

@import 'mobilehw';
 