* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  background-image: url(imghw/game_top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
  padding-bottom: 490px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.title {
  display: flex;
  width: 788px;
  height: 125px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  width: 481px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-bottom: 44px;
}

.go {
  width: 234px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #000915;
}

.go:hover {
  background: #EB443F;
}

.menu {
  background: #000915;
  background-position: center;
  background-size: cover;
  padding-bottom: 128px;
}

.menu__game {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.game_1 {
  background-image: url(imghw/game_1.png);
}

.game_2 {
  background-image: url(imghw/game_2.png);
}

.game_3 {
  background-image: url(imghw/game_3.png);
}

.text__game {
  margin-top: 128px;
  width: 347px;
  height: 268px;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.game_1:hover {
  border: 3px solid #44D2FF;
}

.game_2:hover {
  border: 3px solid #44D2FF;
}

.game_3:hover {
  border: 3px solid #44D2FF;
}

.game {
  background: #000915;
  display: flex;
}

.blok_game {
  padding-top: 282px;
  padding-bottom: 282px;
}

.title_2 {
  width: 377px;
  height: 59px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  color: #FFFFFF;
}

.subtitle_2 {
  width: 584px;
  height: 64px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.gameFoto {
  padding-top: 233px;
  padding-bottom: 233px;
  padding-left: 135px;
}

.game0_2 {
  background: #000915;
  display: flex;
}

.blok_game0_2 {
  padding-top: 282px;
  padding-bottom: 282px;
  padding-left: 135px;
}

.title_2_0_2 {
  width: 396px;
  height: 59px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  color: #FFFFFF;
}

.subtitle_2_0_2 {
  width: 588px;
  height: 64px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.gameFoto0_2 {
  padding-top: 233px;
  padding-bottom: 233px;
}

.div3 {
  background-image: url(imghw/div3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
  padding-bottom: 490px;
}

.titleDiv3 {
  height: 59px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  padding-top: 276px;
}

.subtitleDiv3 {
  height: 64px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.div {
  margin-left: 480px;
}

.basement {
  height: 80px;
  background: #000915;
}

.rights {
  height: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    padding: 238px 0;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .start {
    margin-right: 0;
  }
  .title {
    width: 343px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 0;
  }
  .subtitle {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    width: 343px;
    padding-left: 13px;
  }
  .go {
    margin-left: 64px;
  }
  .menu {
    background: #000915;
  }
  .menu__game {
    flex-direction: column;
  }
  .game_1 {
    margin-top: 100px;
  }
  .game_2 {
    margin-top: 0;
  }
  .game_3 {
    margin-top: 0;
  }
  .text__game {
    width: auto;
  }
  .game {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blok_game {
    padding-top: 50px;
    padding-bottom: 64px;
  }
  .title_2 {
    width: 343px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .subtitle_2 {
    width: 343px;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .gameFoto {
    padding: 0;
    padding-bottom: 85px;
  }
  .foto {
    width: 343px;
    height: 236px;
  }
  .game0_2 {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .blok_game0_2 {
    padding-top: 50px;
    padding-bottom: 64px;
    padding-left: 0;
  }
  .title_2_0_2 {
    width: 264px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-left: 39px;
  }
  .subtitle_2_0_2 {
    width: 343px;
    height: 66px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .gameFoto0_2 {
    padding: 0;
    padding-bottom: 85px;
  }
  .foto0_2 {
    width: 343px;
    height: 231px;
  }
  .titleDiv3 {
    height: 39px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 50px;
  }
  .subtitleDiv3 {
    height: 110px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    gap: 32px;
  }
}/*# sourceMappingURL=stylehw.css.map */